apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: gcr.io/new-project-426217/my-python-app:latest
        ports:
        - containerPort: 3000
        env:
        - name: PGHOST
          valueFrom:
            secretKeyRef:
              name: database-secret
              key: hostname
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: database-secret
              key: username
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secret
              key: password
        - name: PGDATABASE
          valueFrom:
            secretKeyRef:
              name: database-secret
              key: database
